.mv-bar.mv-ui > .mv-button.stats {
	order: 1;
}

	.mv-bar.mv-ui > .mv-button.stats::before {
		content: "📊";
		vertical-align: 0;
	}


[property="LogEntry"] {
	margin: .5em;
	--hue: calc(30 * (1 - var(--intensity) * .25));
	--color: var(--hue), 100%;
	background: hsl(var(--color, var(--gray)), 90%);
	border-radius: 4px;
}

[property="LogEntry"]:target {
	box-shadow: 0 0 .5em skyblue;
}

[property="LogEntry"].intensity-0 {
	background: hsl(20, 100%, 90%);
}

	[property="LogEntry"] header {
		display: flex;
		flex-wrap: wrap;
		padding: .5em;
	}

	[property="date"] {
		font-weight: bold;
	}

	[property="weekday"] {
		min-width: 2em;
		text-align: right;
		margin-right: .6ch;
	}

	[property="notes"] {
		padding: .5em;
		background: hsla(0,0%,100%,.4);
	}

[property="rating"] {
	margin-left: .4em;
}
